@model Projet2_Praya.Models.type_projet
@{
    ViewBag.Title = "Création type de projet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div>
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>Créer un Type de Projet </legend>
                <div>
                    @Html.LabelFor(m => m.type)
                    @Html.TextBoxFor(m => m.type)
                    @Html.ValidationMessageFor(m => m.type)
                </div>

                <div>
                    @Html.LabelFor(m => m.libelle)
                    @Html.TextBoxFor(m => m.libelle)
                    @Html.ValidationMessageFor(m => m.libelle)
                </div>

                <input type="submit" value="Créer" />
            </fieldset>
        }
    </div>
</body>

